<html>
    <head>
        <title>Galaxy Tracker</title>
    </head>
    <body>
    {% include "partials/_header.twig" %}
    <main = id="app">
    {% block main %}{% endblock %}
    </main>
    {% include "partials/_footer.twig" %}
    </body>
</html>